
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  /* CSS */




#menu-icon{
  display: initial;
}

.navlinks{
  position: absolute;
  width: 100%;
  height: auto;
  padding: 70px 50px;
  top: 100px;
  right: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  background: #FF6500;
  transition: all .7s ease-in-out;
  backdrop-filter:blur(50px);
}

.navlinks a{
  display: block;
  padding: 0;
  margin: 0px 0px 32px 0;
  font-size: 24px;
  font-weight: 500;
}
.navlinks.open{
  left: 0;
}


  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
      .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        left: 0;
    }
    .nav-menu{
        position: fixed;
        top: 80px;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(20px);
        width: 100%;
        min-height: 450px;
        height: 90vh;
        transition: .3s;
    }
    .nav_menu_list{
        flex-direction: column;
    }
    .nav-menu-btn{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .featured-box{
        flex-direction: column;
        justify-content: center;
        height: 100vh;
    }
    .featured-text{
        width: 100%;
        order: 2;
        justify-content: center;
        align-content: flex-start;
        min-height: 60vh;
    }
    .social_icons{
        margin-top: 2em;
    }
    .featured-image{
        order: 1;
        justify-content: center;
        min-height: 150px;
        width: 100%;
        margin-top: 65px;
    }
    .image, .image img{
        width: 150px;
        height: 150px;
    }
    .row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
    }
    .col{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .about-info, .contact-info{
        width: 100%;
    }
    .project-container{
        justify-content: center;
    }
    .project-box{
        width: 80%;
    }

}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */



section {
    padding: 50px 10% 50px;
}

#menu-icon{
  display: initial;
}

.navlinks{
  position: absolute;
  width: 100%;
  height: auto;
  padding: 70px 50px;
  top: 100px;
  right: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  background: black;
  transition: all .7s ease-in-out;
  backdrop-filter:blur(50px);
}

.navlinks a{
  display: block;
  padding: 0;
  margin: 0px 0px 32px 0;
  font-size: 24px;
  font-weight: 500;
}
.navlinks.open{
  left: 0;
}

}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  


  /* CSS */


header{
  transition: all .7s ease-in-out;
  backdrop-filter:blur(50px);
  background: transparent;
}
section {
    padding: 50px 6% 50px;
}

#menu-icon{
  display: initial;
}

.navlinks{
  position: absolute;
  width: 100%;
  height: auto;
  padding: 70px 50px;
  top: 100px;
  right: 0;
  left: 100%;
  display: flex;
  flex-direction: column;
  transition: all .7s ease;
  background:black;
  opacity: 90%;
   backdrop-filter:blur(50px);
  
}
.logo p{
  font-size: 24px;
}
.n-btn{
  display: none;
}

.navlinks a{
  display: block;
  padding: 0;
  margin: 0px 0px 32px 0;
  font-size: 24px;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
.navlinks.open{
  left: 0;
   transition: all .7s ease;
}

.home{
  display: block;
  height: auto;
  padding: 20px 8%;
    
}
.h-line{
    font-size: 14px;
  
}
.btn1{
  margin-top: 24px;
  display: block;
  margin-right: 0px;
}

.btn2{
  margin-top: 24px;
  display: block;
}

.home-text{
  text-align: center;

}
.home-img img{
   width: 100%;
}
.home-text h1{
    font-size: 20px;
}
.home-text {
    padding-top: 0px;
    margin-bottom: 20px;
}
.about{
  display: block;
}
.about-text{
  display: grid;
  margin-top: 40px;
}
.contact-flex{
    display: block;
}
.contact-info{
    width: 100%;
    margin-bottom: 40px;

}
.contact-info>p{
    letter-spacing: 0.5px;
    align-items: center;
    font-size: 12px;
}
.featured-name{
  font-size: 40px;
}
.project-box{
  width: 100%;
}
.form-inputs{
  flex-direction: column;
}
.input-field{
  width: 100%;
}
.middle-footer .footer-menu{
      display: grid;
    text-align: center;

}
.bottom-footer{
  padding: 0px 40px;
  text-align: center;
}
}

